syntax: glob
cache/scripts.*.min.jgz
cache/styles.*.min.css
cache/1/*
private/sessions/*
private/1
private/1/*
private/1/files/*
private/1/thumbnails/*
private/1/webgets/*
private/1/templates/*
private/oembed/*
private/tmp/*
setup/*.zip
cfg/globals.php
private/thumbnails/*
lib/external/tinymce/*.gz
lib/external/tinymce/server_name
lib/vendor/mpdf/mpdf/tmp/*
themes/theme_kit
themes/ocean.zip
themes/theme_kit.zip
plugins/twitter_timeline
plugins/webuser_login_box
cache/*

syntax: glob
plugins
