<!DOCTYPE html>
<html>
<head>
    <nv object="include" file="templates/head.nvt.html" />
    <nv object="nvweb" name="comments" mode="process" />
</head>

<body>
<nv object="nvweb" name="liveedit" />
<div class="wrapper">
    <div id="header">
        <a href="{{nv object='root'}}" id="logo">
            <OCEAN_LOGO />
        </a>
        <div id="languages">
            <nv object="webget" name="languages" mode="select" />
        </div>

        <div id="search">
            <form action="{{nv object='root'}}/nvsearch" method="get"><input type="text" name="q" /><input id="search-submit" size="0" type="submit" value="{{nv object='dictionary' id='send' default='Send'}}" /><img src="img/zoom.png" width="26" height="26" align="absmiddle" onclick="$(this).parent().submit();" /></form>
        </div>
    </div>

    <div id="menu">
        <nv object="nvweb" name="menu" mode="ul" />
    </div>

    <div class="text-left">

        <div class="blog-entry">
            <h4><img src="img/edit.png" width="24" height="24" align="absmiddle"/> <nv object="nvweb" name="content" mode="title" /></h4>
            <div class="blog-entry-properties">
                <div class="blog-entry-properties-date"><nv object="nvweb" name="content" mode="date" format="%A, %d %B %Y" /></div>
                <a href="{{nv object='nvweb' name='content' mode='structure' return='path'}}" class="blog-entry-properties-category"><nv object="nvweb" name="content" mode="structure" return='title' /></a>
                <a href="#blog-entry-comments" class="blog-entry-properties-comments"><nv object="nvweb" name="content" mode="comments" /> <nv object="dictionary" id="comments" default="Comments" /></a>
                <div style="clear:both"></div>
            </div>

            <div class="blog-entry-image">
                <nv object="nvweb" name="properties" property="blog_entry_image" width="599" height="300" border="false" />
            </div>
            <div class="blog-left-text">
                <nv object="nvweb" name="content" mode="section" section="main" />
            </div>
        </div>

        <a name="blog-entry-comments"></a>
        <div class="blog-post-section-comments"><nv object="nvweb" name="content" mode="comments" /> <nv object="dictionary" id="comments" default="Comments" /></div>

        <nv object="list" source="comments" items="10" paginator="true" order="oldest">
            <div class="blog-post-comment">
               <div class="blog-post-comment-image">
                   <nvlist source="comment" value="avatar" size="48" default="img/user.png" />
               </div>
               <div class="blog-post-comment-content">
                   <div class="blog-post-comment-name"><nvlist source="comment" value="username" /></div>
                   <div class="blog-post-comment-date"><nvlist source="comment" value="date" format="%A, %d %B %Y %H:%M" /></div>
                   <div class="blog-post-comment-text"><nvlist source="comment" value="message" /></div>
               </div>
            </div>
        </nv>

        <nv object="nvweb" name="comments" mode="reply" />

    </div>

    <div class="sidebar-right">
        <div class="block-sidebar-right">
            <nv object="nvweb" name="blocks" type="sidebar-text-content" />
        </div>

        <div class="block-sidebar-right">
            <h5 style="font-style: italic;"><nv object="dictionary" id="links" default="Links" /></h5>
            <div class="sidebar-link">
                <nv object="nvweb" name="blocks" type="sidebar-links" />
            </div>
        </div>

        <nv object="nvweb" name="blocks" type="sidebar-quote" number="1" />
    </div>

    <div style="clear:both;"></div>

    <nv object="include" file="templates/footer.nvt.html" />
</div>

</body>
</html>
<!-- theme by Seleneart -->
<!-- http://www.seleneart.com -->