<!DOCTYPE html>
<html>
<head>
    <nv object="include" file="templates/head.nvt.html" />
</head>

<body>
<nv object="nvweb" name="liveedit" />
<div class="wrapper">
    <div id="header">
        <a href="{{nv object='root'}}" id="logo">
            <OCEAN_LOGO />
        </a>
        <div id="languages">
            <nv object="webget" name="languages" mode="select" />
        </div>

        <div id="search">
            <form action="{{nv object='root'}}/nvsearch" method="get"><input type="text" name="q" /><input id="search-submit" size="0" type="submit" value="{{nv object='dictionary' id='send' default='Send'}}" /><img src="img/zoom.png" width="26" height="26" align="absmiddle" onclick="$(this).parent().submit();" /></form>
        </div>
    </div>

    <div id="menu">
        <nv object="nvweb" name="menu" mode="ul" />
    </div>
        
    <div class="text-left">

        <nv object="list" source="items" children="true" paginator="true" order="newest" items="3">
            <div class="blog-entry">
                <a href="{{nvlist source='item' value='url'}}">
                    <h4>
                        <img src="img/edit.png" width="24" height="24" align="absmiddle"/>
                        <nvlist source="item" value="title" />
                    </h4>
                </a>
                <div class="blog-entry-properties">
                    <div class="blog-entry-properties-date"><nvlist source="item" value="date" format="%A, %d %B %Y" /></div>
                    <a href="{{nvlist source='structure' value='url'}}" class="blog-entry-properties-category"><nvlist source="structure" value="title" /></a>
                    <a a href="{{nvlist source='item' value='url'}}#comments" class="blog-entry-properties-comments"><nvlist source="item" value="comments" /> <nv object="dictionary" id="comments" default="Comments" /></a>
                    <div style="clear:both"></div>
                </div>
                <a href="{{nvlist source='item' value='url'}}" class="blog-entry-image">
                    <nvlist source="item" value="property" name="blog_entry_image" width="599" height="300" border="false" />
                </a>
                <div class="blog-left-text">
                    <nvlist source="item" value="content" length="400" />
                </div>
                <a href="{{nvlist source='item' value='url'}}" class="blog-left-entry-button"><nv object="dictionary" id="read_more" default="Read more" /></a>
                <div style="clear: both;">&nbsp;</div>
            </div>
        </nv>

    </div>

    <div class="sidebar-right">
        <div class="block-sidebar-right">
            <h5 style="font-style: italic;"><nv object="dictionary" id="archive" default="Archive" /></h5>
            <div class="sidebar-link">
                <nv object="nvweb" name="archive" mode="adaptive" search_page_type="theme" />
            </div>
        </div>

        <div class="block-sidebar-right">
            <nv object="nvweb" name="blocks" type="sidebar-text-content" />
        </div>

        <div class="block-sidebar-right">
            <h5 style="font-style: italic;"><nv object="dictionary" id="links" default="Links" /></h5>
            <div class="sidebar-link">
                <nv object="nvweb" name="blocks" type="sidebar-links" />
            </div>
        </div>

        <nv object="nvweb" name="blocks" type="sidebar-quote" number="1" />
    </div>

    <div style="clear:both;"></div>

    <nv object="include" file="templates/footer.nvt.html" />
</div>

</body>
</html>
<!-- theme by Seleneart -->
<!-- http://www.seleneart.com -->