<!DOCTYPE html>
<html>
<head>
    <nv object="include" file="templates/head.nvt.html" />
</head>

<body>
<nv object="nvweb" name="liveedit" />
<div class="wrapper">
    <div id="header">
        <a href="{{nv object='root'}}" id="logo">
            <OCEAN_LOGO />
        </a>
        <div id="languages">
            <nv object="webget" name="languages" mode="select" />
        </div>

        <div id="search">
            <form action="{{nv object='root'}}/nvsearch" method="get"><input type="text" name="q" /><input id="search-submit" size="0" type="submit" value="{{nv object='dictionary' id='send' default='Send'}}" /><img src="img/zoom.png" width="26" height="26" align="absmiddle" onclick="$(this).parent().submit();" /></form>
        </div>
    </div>

    <div id="menu">
        <nv object="nvweb" name="menu" mode="ul" />
    </div>

    <div class="header-img">
        <nv object="nvweb" name="properties" property="contact_image" width="960" />
    </div>

    <div class="text-left">
        <h4 class="h4-contact"><nv object="nvweb" name="content" mode="title" /></h4>
        <nv object="nvweb" name="content" mode="section" section="main" />
        <h4 class="h4-contact"><nv object="dictionary" id="contact_form" default="Contact form" /></h4>
        <div style=" margin-bottom: 20px; font-weight: bold; ">
            <nv object="nvweb" name="contact"
                mode="send"
                fields="contact-name,contact-email,contact-message"
                labels="name,email,message"
                required="contact-email,contact-message"
                notify="inline" />
        </div>
        <div class="contact-post-reply">
           <form action="?" method="post">
               <input type="hidden" name="form-type" value="contact-reply" />
               <div>
                   <label><nv object="dictionary" id="name" default="Name" /></label>
                   <input type="text" name="contact-name" value="" />
               </div>
               <div>
                   <label><nv object="dictionary" id="email" default="E-Mail" /></label>
                   <input type="text" name="contact-email" value="" />
               </div>
               <div>
                   <label><nv object="dictionary" id="message" default="Message" /></label>
                   <textarea name="contact-message"></textarea>
               </div>
               <div>
                   <input type="submit" value="{{nv object='dictionary' id='submit' default='Submit'}}" />
               </div>
           </form>
        </div>
    </div>

    <div class="sidebar-right">
        <div class="block-sidebar-right">
            <h5><nv object="dictionary" id="address" default="Address" /></h5>
            <nv object="nvweb" name="content" mode="section" section="address" />
        </div>

        <div class="block-sidebar-right">
            <nv object="nvweb" name="ocean" mode="contact-location" />
        </div>
    </div>

    <div style="clear:both;"></div>

    <nv object="include" file="templates/footer.nvt.html" />
</div>

</body>
</html>
<!-- theme by Seleneart -->
<!-- http://www.seleneart.com -->