<div id="footer">

    <div class="footer-block">
        <h5 style="color:#f8f9fd;"><nv object="dictionary" id="footer_latest_title" default="Latest blog posts" /></h5>
        <ul>
            <nv object="list" items="4" order="newest" source="item" categories="{{OCEAN_FOOTER_LATEST_CATEGORY}}">
                <li><a href="{{nvlist value='url'}}">{{nvlist value='title'}}</a></li>
            </nv>
        </ul>
    </div>

    <div class="footer-block">
        <h5 style="color:#f8f9fd;"><nv object="dictionary" id="footer_links_title" default="Recommended links" /></h5>
        <ul>
            <li><nv object="nvweb" name="properties" property="footer_link_1" /></li>
            <li><nv object="nvweb" name="properties" property="footer_link_2" /></li>
            <li><nv object="nvweb" name="properties" property="footer_link_3" /></li>
            <li><nv object="nvweb" name="properties" property="footer_link_4" /></li>
        </ul>
    </div>

    <div class="footer-block footer-block-special">
        <h5><nv object="nvweb" name="properties" mode="website" property="footer_card_name" /></h5>
        <nv object="nvweb" name="properties" mode="website" property="footer_card_text" />
        <br />
        <a href="{{nv object='url' type='theme' id='contact'}}" class="button-contact-us"><nv object="dictionary" id="contact_us" default="Contact us" /></a>
        <span style="text-align: right; display: block;"><nv object="nvweb" name="properties" mode="website" property="footer_card_logo" width="103" height="45" border="true" /></span>
    </div>

</div>

<div class="social-icons">
    <OCEAN_SOCIAL_ICONS />
</div>

<div class="copyright">
    <span>Copyright <nv object="constant" name="year" /> | Ocean theme by <a href="http://www.seleneart.com" target="_blank">Seleneart</a></span> | Website powered by <a href="http://www.navigatecms.com" target="_blank">Navigate CMS</a>
</div>

