<!DOCTYPE html>
<html>
<head>
    <title><nv object="dictionary" id="page_not_found" default="404 Error - page not found" /></title>
    <nv object="include" file="templates/head.nvt.html" />
    <title><nv object="dictionary" id="page_not_found" default="404 Error - page not found" /></title>
</head>

<body>
    <nv object="nvweb" name="liveedit" />
    <div class="wrapper">
        <div id="header">
            <a href="{{nv object='root'}}" id="logo">
                <OCEAN_LOGO />
            </a>
            <div id="languages">
                <nv object="webget" name="languages" mode="select" />
            </div>

            <div id="search">
                <form action="{{nv object='root'}}/nvsearch" method="get"><input type="text" name="q" /><input id="search-submit" size="0" type="submit" value="{{nv object='dictionary' id='send' default='Send'}}" /><img src="img/zoom.png" width="26" height="26" align="absmiddle" onclick="$(this).parent().submit();" /></form>
            </div>
        </div>

        <div id="menu">
            <nv object="nvweb" name="menu" mode="ul" />
        </div>

        <div class="content-fullwidth" style="margin-top: 20px;">
            <h1><nv object="dictionary" id="page_not_found" default="Page not found" /></h1>
            <p><nv object="dictionary" id="sorry_page_not_here" default="We are sorry, the page you are looking for is not here." /></p>
            <p><nv object="dictionary" id="try_another_path" default="Try a different path or navigate using this website's menu." /></p>
        </div>

        <div style="clear:both;"></div>

        <nv object="include" file="templates/footer.nvt.html" />
    </div>

</body>
</html>
<!-- theme by Seleneart -->
<!-- http://www.seleneart.com -->