<!DOCTYPE html>
<html>
<head>
    <nv object="include" file="templates/head.nvt.html" />
</head>

<body>
<nv object="nvweb" name="liveedit" />
<div class="wrapper">
    <div id="header">
        <a href="{{nv object='root'}}" id="logo">
            <OCEAN_LOGO />
        </a>
        <div id="languages">
            <nv object="webget" name="languages" mode="select" />
        </div>

        <div id="search">
            <form action="{{nv object='root'}}/nvsearch" method="get"><input type="text" name="q" /><input id="search-submit" size="0" type="submit" value="{{nv object='dictionary' id='send' default='Send'}}" /><img src="img/zoom.png" width="26" height="26" align="absmiddle" onclick="$(this).parent().submit();" /></form>
        </div>
    </div>

    <div id="menu">
        <nv object="nvweb" name="menu" mode="ul" />
    </div>

    <div class="portfolio-items">
        <h1><nv object="nvweb" name="content" mode="structure" return="title" /></h1>

        <nv object="list" source="item" items="8" paginator="true" order="priority">
            <nvlist source="conditional" each="4">
                <div class="portfolio-separator"></div>
            </nvlist>
            <div class="portfolio-item">
                <a href="{{nvlist source='item' value='url'}}">{{nvlist source='item' value='property' width='225' height='169' property='portfolio-image' }}</a>
                <h5>{{nvlist source='item' value='title'}}</h5>
                <span>{{nvlist source='item' value='property' property='portfolio-intro'}}</span>
                <a href="{{nvlist source='item' value='url'}}" class="button-read"><nv object="dictionary" id="read_more" default="Read more" /></a>
            </div>
        </nv>
    </div>

    <nv object="include" file="templates/footer.nvt.html" />
</div>

</body>
</html>
<!-- theme by Seleneart -->
<!-- http://www.seleneart.com -->