html, body {
	height: 100%;
   text-align: center;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6, p, form, ul, ol, dl, li, dd, table {
	margin: 0;
}

blockquote {
	margin-top: 0;
	margin-bottom: 0;
}

html, body, ul, ol, form, table {
	padding: 0;
}

table {
   font-size: 100%;
}

img {
   border: none;
}

textarea {
   overflow: auto;
	font-size: expression('100%');
}

a {
	cursor: pointer;
}