#Options -MultiViews
Options +FollowSymLinks
Options -Indexes
 
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+) navigate/web/nvweb.php?route=$1 [QSA]
RewriteRule ^$ /navigate/web/nvweb.php?route=nv.empty [L,QSA]